.button {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    border: none;

    &:hover {
        -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.35); 
        box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.35);
        transition: .2s;
    }
}
