@import '../../assets/uik.styles.scss';

@mixin aspect-selected {
    background: rgba(0,0,0,.8)
}

.cropper-container {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 10;
}

.crop-area {
    color: rgba(255, 255, 255, 1) !important;
}

.cropper-toolbar {
    width: 100%;
    height: fit-content;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: 2px solid $border-gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    opacity: 1;
    z-index: 10000;
    // background: rgba(94, 63, 63, 0);
    background: white;

    .cropper-tool {
        font-weight: 700;
        font-size: 1rem;
        margin-top: 25px;
        margin-bottom: 15px;
        cursor: pointer;
        user-select: none;

        &.cropper-tool:nth-child(1) {
            margin-left: 50px;
        }

        &.cropper-tool:nth-child(2) {
            margin-right: 50px;
            color: $text-blue;
        }
    }
}

.settings-btn {
    background: rgba(0,0,0,.7);
    fill: white;
    position: absolute;
    height: 6vh;
    width: 6vh;
    padding: 1vh;
    z-index: 1000;
    bottom: 40px;
    left: 40px;
    border-radius: 50%;
    cursor: pointer;
}


.cropper-settings {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: calc(40px + 6vh + 20px);
    left: 40px;
    background: rgba(0,0,0, .6);
    z-index: 1000;
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;

    .aspect {
        color: white;
        font-size: 1rem;
        padding: 20px 40px;
        text-align: center;
        cursor: pointer;

        &:nth-child(1) {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        &:nth-child(3) {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        &.aspect-selected {
            @include aspect-selected();
        }
    }
}