@import '../../assets/uik.styles.scss';

.user-profile {
    height: fit-content;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .profile-container {
        height: fit-content;
        width: 935px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile-user-info {
            height: fit-content;
            padding: 20px 70px;
            width: 100%;
            display: flex;
            flex-direction: row;

            .profile-user-avt {
                height: 17vh;
                width: 17vh;
                margin-right: 90px;
                border-radius: 50%;
                cursor: pointer;
                padding: 5px;
                border: 1px solid $border-gray;
            }

            .profile-user-details {
                width: fit-content;
                height: 17vh;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;

                .username {
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                .user-description {
                    .display-name {
                        font-weight: 600;
                        margin-bottom: 7px;
                    }
                    
                    .user-bio {

                    }
                }
            }

            .user-full-post-container {
                height: 100%;
                width: 100%;
                position: fixed;
                z-index: 100000;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0,0,0,0.9);

                .user-full-post-exit {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

                .user-full-post {
                    min-height: 45vh;
                    height: fit-content;
                    width: fit-content;
                    max-width: 100%;
                    background: white;
                    z-index: 10;
                    display: flex;
                    flex-direction: row;

                    .post-img-container {
                        height: fit-content;
                        width: fit-content;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        justify-self: center;
                        align-self: center;

                        .img-only {
                            height: fit-content;
                            width: fit-content;

                            .post-img {
                                display: none;
                                user-select: none;
                                max-height: 60vh;
                                max-width: 735px;

                                &.show {
                                    display: block;
                                }
                            }
                        }

                        .change-img {
                            position: absolute;
                            cursor: pointer;
                            fill: white;

                            &.hide {
                                display: none;
                            }

                            &.next {
                                right: 10px;
                            }

                            &.back {
                                left: 10px;
                            }
                        }
                    }

                    .post-caption {
                        width: 400px;
                        height: 100%;
                        user-select: none;
                    }
                }
            }
        }

        .profile-user-post {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border-top: 2px solid $border-gray;
            padding-top: 30px;

            .post {
                position: relative;
                border: 1px solid gray;
                margin: 15px;
                // flex-grow: .4;
                flex-basis: calc(100%/3 - 30px);

                &.post:before {
                    content: '';
                    display: block;
                    padding-top: 100%;
                }

                .post-content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;

                    .post-display-img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        user-select: none;
                        -webkit-user-select: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}