@import '../../assets/uik.styles.scss';

.sign-out-action {
    color: $text-blue;
    font-weight: 600;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10000;
    background: white;
    padding: 20px 50px;
    border-radius: 50px;
}

.user-profile {
    height: fit-content;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &.sign-out-alert {
        filter: blur(18px);
        user-select: none;
        pointer-events: none;
    }

    .profile-container {
        height: fit-content;
        width: 935px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile-user-info {
            height: fit-content;
            padding: 20px 70px;
            width: 100%;
            display: flex;
            flex-direction: row;

            .profile-user-avt {
                height: 17vh;
                width: 17vh;
                margin-right: 90px;
                border-radius: 50%;
                cursor: pointer;
                padding: 5px;
                border: 1px solid $border-gray;
            }

            .profile-user-details {
                width: fit-content;
                height: 17vh;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;

                .name-follow {
                    width: fit-content;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .username {
                        font-size: 1.5rem;
                        font-weight: 300;
                    }

                    .follow {
                        color: white;
                        padding: 7px 14px;
                        background: $text-blue;
                        height: fit-content;
                        width: fit-content;
                        font-size: .95rem;
                        font-weight: 600;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        margin-left: 50px;
                    }
                }

                .user-description {

                    .display-name {
                        font-weight: 600;
                        margin-bottom: 7px;
                        font-size: .8rem;
                    }

                    .user-bio {
                        font-size: .7rem;
                    }
                }
            }

            .user-full-post-container {
                height: 100%;
                width: 100%;
                position: fixed;
                z-index: 100000;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0,0,0,0.9);

                .user-full-post-exit {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

                .user-full-post {
                    min-height: 45vh;
                    height: 65vh;
                    width: fit-content;
                    max-width: 100%;
                    background: white;
                    z-index: 10;
                    display: flex;
                    flex-direction: row;

                    .post-img-container {
                        height: 100%;
                        width: fit-content;
                        max-width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        justify-self: center;
                        align-self: center;

                        .img-only {
                            height: 100%;
                            max-width: 100%;
                            width: fit-content;

                            .post-img {
                                display: none;
                                user-select: none;
                                height: 100%;
                                width: auto;

                                &.show {
                                    display: block;
                                }
                            }
                        }

                        .change-img {
                            position: absolute;
                            cursor: pointer;
                            fill: white;

                            &.hide {
                                display: none;
                            }

                            &.next {
                                right: 10px;
                            }

                            &.back {
                                left: 10px;
                            }
                        }
                    }

                    .post-caption {
                        width: 350px;
                        height: 100%;
                        user-select: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-bottom: 10px;

                        .post-info-container {
                            width: 100%;
                            height: fit-content;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 20px 0 15px 20px;
                            border-bottom: 1px solid $border-gray;

                            .post-avt {
                                height: 3.5vh;
                                width: 3.5vh;
                                border-radius: 50%;
                                cursor: pointer;
                            }

                            .post-username {
                                margin-left: 15px;
                                font-weight: 600;
                            }
                        }

                        .post-comment-container {
                            flex-grow: 1;
                            width: 100%;
                            padding: 20px 20px 10px 20px;
                            overflow-y: scroll;

                            .comment-container {
                                width: 100%;
                                height: fit-content;
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                margin-bottom: 5px;
                                // word-break: break-all;

                                .comment-user-avt-container {
                                    height: 3.5vh;
                                    width: 3.5vh;
                                    min-height: 3.5vh;
                                    min-width: 3.5vh;
                                    border-radius: 50%;

                                    .comment-user-avt {
                                        object-fit: cover;
                                        height: 100%;
                                        width: 100%;
                                        border-radius: 50%;
                                    }
                                }

                                .comment-content {
                                    margin-left: 15px;
                                    font-size: .9rem;
                                    // word-break: break-all;
                                    word-wrap: break-word;

                                    .comment-by {
                                        font-weight: 600;
                                        margin-right: 10px;
                                        cursor: pointer;
                                    }
                                }
                            }

                            .comment-timespan {
                                margin-left: calc(3.5vh + 15px);
                                margin-bottom: 30px;
                                font-size: .9rem;
                                color: $text-gray;
                            }
                        }

                        .post-add-comment-container {
                            height: 6vh;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            border-top: 1px solid $border-gray; 

                            .post-add-comment-input {
                                height: 100%;
                                box-sizing: border-box;
                                font-size: 1rem;
                                text-align: left;
                                overflow: auto;
                                resize: none;
                                border: none;
                                background: white;
                                display: block;
                                padding: 10px 0 0px 15px;
                                font-size: .9rem;
                                flex-grow: 1;
        
                                &:focus {
                                    outline: none;
                                }
        
                                &::placeholder {
                                    color: $text-gray;
                                    font-size: .9rem;
                                }
                            }

                            .post-add-comment-submit {
                                margin-right: 20px;
                                margin-left: 10px;
                                font-weight: 600;
                                color: $text-blue;
                                font-size: .9rem;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .profile-user-post {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border-top: 2px solid $border-gray;
            padding-top: 30px;

            .post {
                position: relative;
                border: 1px solid gray;
                margin: 15px;
                // flex-grow: .4;
                flex-basis: calc(100%/3 - 30px);

                &.post:before {
                    content: '';
                    display: block;
                    padding-top: 100%;
                }

                .post-content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;

                    .post-display-img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        user-select: none;
                        -webkit-user-select: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}