.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100vw;
    background-color: transparent;

    .header-nav {
        float: right;
        display: flex;
        flex-direction: row;
        transform: translateY(50%);
    }
}