@import '../../assets/uik.styles.scss';

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    background-color: white;
    border-bottom: 2px solid $main;

    .header-nav {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 3vw;

        .sign-out-btn {
            color: $main;
            background: white;
            font-weight: 700;
            padding: 16px 24px;
        }

        .user-avt {
            height: 4vh;
            width: 4vh;
            border-radius: 50%;
            cursor: pointer;
            padding: .5vh;
            border: 2px solid white;
        }
    }

    .user-nav {
        background: white;
        height: 40vh;
        width: 8vh;
        position: fixed;
        top: 30vh;
        right: 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        transform: translate(6vw);
        transition: .3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 2px solid $main;
        border-left: 2px solid $main;
        border-bottom: 2px solid $main;

        &.appear {
            transform: translateX(0);
            transition: .3s ease-in-out;
        }

        .nav {
            fill: $main;
            height: 4vh;
            width: 4vh;
            position: absolute;
            cursor: pointer;

            &.log-out {
                bottom: 3vh;
            }
        }
    }
}