@import '../../assets/uik.styles.scss';

@mixin con-general-styling {
    border: 2px solid $border-gray;
    background: white;
}

@mixin user-info {
    .user-name {
        color: black;
        font-size: .9rem;
        font-weight: 600;
        margin-bottom: 7px;
        cursor: pointer;
    }

    .display-name {
        font-size: .8rem;
        color: $text-gray;
        font-weight: 500;
    }
}

@mixin user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.newsfeed {
    min-height: 100vh;
    max-width: 100vw;
    background: $second-gray;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .container {
        margin-top: 5vh;
        width: 1000px;
        height: fit-content;
        background: transparent;
        display: flex;
        flex-direction: row;

        .left-con {
            display: flex;
            flex-direction: column;
            margin-right: 2%;
            width: 63%;

            .con {
                @include con-general-styling();
            }

            .stories {
                height: 12vh;
                margin-bottom: 2vh;
            }

            .posts {
                height: 200vh;
            }
        }

        .right-con {
            display: flex;
            flex-direction: column;
            position: sticky;
            top: 15vh;
            align-self: flex-start;
            width: 35%;

            .con {
                @include con-general-styling();
            }

            .user {
                height: fit-content;
                margin-bottom: 2vh;
                border: none !important;
                background: transparent !important;

                .user-data {
                    @include user-data();

                    .user-avt {
                        height: 6.5vh;
                        width: 6.5vh;
                        border-radius: 50%;
                        margin-left: 20px;
                        margin-right: 15px;
                    }
    
                    .user-info {
                        @include user-info()
                    }
                }
            }

            .suggestions {
                height: fit-content;
                border: none !important;
                background: transparent !important;

                .user-data {
                    @include user-data();
                    margin-top: 20px;
                    
                    .user-avt {
                        height: 4.5vh;
                        width: 4.5vh;
                        border-radius: 50%;
                        margin-left: 20px;
                        margin-right: 15px;
                    }
    
                    .user-info {
                        @include user-info()
                    }
                }
            }
        }
    }
}